:root {
    --morado: #1F0648; 
    --morado-claro: #3F266A;
    --red: #ff2e63;
}

* {
    font-family: 'Sen', sans-serif;
    font-weight: 100;
}


/*------------------------------------------------------------------
[Tabla de Contenido de todos los Estilos]

1 - Menu
2 - Animaciones del Menu
3 - Media Querys para el Menu

--------------------------------------------------------------------*/
/*-----------------------------------*/

/*-----------------------------------
    1 - Menu
------------------------------------*/


/*-----------------------------------
    Small devices (landscape phones, 576px and up)
------------------------------------*/
